.paymentContainer{
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paymentForm{
    background-color: #fff;
    width: 50%;
    height: 70%;
    border-radius: 20px;

}